* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary: #be2529;
    --dark: #333;
    --secondary: #0d0d0d;
    --gray: #ddd;
    --gray-light: #eee;
    --gray-hint: #555;
    --sandBox: rgba(0,0,0,0.33)
  }
  
  
  :root {
    font-size: 62.5%;
  }
  
  body {
    font-family: "Cormorant Garamond", serif;
    font-size: 1.6rem;
    line-height: 2rem;
    color: var(--dark);
  }
header {
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
header>h1>a>img {
    height: 130px;
}

header>nav {
    display: flex;
}
header>nav>* {
    margin:10px;
}

.btn {
    font-size: 1.6rem;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 0;
    transition: all 0.2s;
  }
  
  .btn-light {
    background: white;
    border: 1px solid var(--primary);
    color: var(--primary);
  }
  
  .btn-light:hover {
    background: var(--primary);
    color: #fff;
  }
  
section{
    width:90%;
    margin:20px auto;
    display: flex;
    align-items: center;
}
#carrousel {
    min-height: 20vh;
}
#carrousel img {
    max-height: 400px;
    object-fit: cover;
}
#showcase {
    min-height: 45vh;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
#showcase>* {
    min-width: 300px;
    max-width: 30%;
    height: 600px;
   /* overflow: hidden;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
article {
    -webkit-box-shadow: 0 4px 20px var(--sandBox); 
box-shadow:  0 4px 20px var(--sandBox);
transition: transform linear 0.5s;
padding: 5px;
}
article:hover {
    cursor: pointer;
    transform: scale(1.05);
}
article h3 {
    font-size: 1.6rem;
    font-weight: bold;
}
#showcase>article img{
    width:100%;
    height: 250px;
    object-fit: contain;
}
.centreArt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.article-small{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 190px;
}
.article-small h3 {
    font-size: 1.2rem;
    font-weight: bold;
}
.article-small img {
/* width:100%; */
height: 180px;
object-fit: contain;
}
.article-small>*{
    width: 48%;
    word-break: break-all;
}
.article-small>div {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#detArticle {
    -webkit-box-shadow: 2px 2px 5px 2px var(--gray-hint); 
    box-shadow: 2px 2px 5px 2px var(--gray-hint);
    flex-direction: column;
    justify-content: space-around;
    min-height:85vh;
}
#detArticle>img {
    width: 90%;
}
#AllPosts {
    flex-direction: column;
    justify-content: space-around;
    min-height:85vh;
}
#AllPosts>article {
    width:100%;
    display: flex;
    margin:20px;
    justify-content: space-between;
    flex-wrap: wrap;
}
#AllPosts>article>* {
    min-width: 300px;
    width:47%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    object-fit: contain;
}
#AllPosts>article>p.content {
    height: 200px;
    overflow: hidden;
}
#videos {
    min-height: 20vh;
    justify-content: space-around;
    flex-wrap: wrap;
}
video {
    width:90%;
    margin: 0 auto;
}
#videos>article>video {
    margin:20px;
    width: 300px;
}
#share {
    justify-content: center;
}
footer {
    min-height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: var(--secondary);
    color: var(--gray-hint);
}
footer>nav {
    display: flex;
}
footer a{
    text-decoration: none;
    margin:10px;
    color: var(--gray-hint);
}
footer a:hover,footer a:active{
    color: var(--gray-light);
    text-decoration: none;
}
nav.mob {
    display: none;
}
@media screen and (max-width:700px) {
    footer, section, header, header>nav {
      flex-direction: column;
    }
    .article-small{
        width:100%;
    }
    nav.desk {
        display: none;
    }
    nav.mob {
        display: flex;
        position: fixed;
        flex-direction: row;
        bottom: 0;
        z-index: 100000;
    }
    footer {
        padding-bottom: 90px;
    }
    nav.mob>*{
        border-radius: 0px;
        margin:0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25vw;
        height:80px;
        font-size: 2rem;
        font-weight: 900;
        background-color: var(--primary);
        color: var(--secondary);
    }
  }