* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary: #be2529;
    --dark: #333;
    --secondary: #0d0d0d;
    --gray: #ddd;
    --gray-light: #eee;
    --gray-hint: #555;
  }
  
  
  :root {
    font-size: 62.5%;
  }
  
  body {
    font-family: "Cormorant Garamond", serif;
    font-size: 1.6rem;
    line-height: 2rem;
    color: var(--dark);
  }
header {
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
header>h1>a>img {
    height: 130px;
}

header>nav {
    display: flex;
}
header>nav>* {
    margin:10px;
}

.btn {
    font-size: 1.6rem;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 0;
    transition: all 0.2s;
  }
  
  .btn-light {
    background: white;
    border: 1px solid var(--primary);
    color: var(--primary);
  }
  
  .btn-light:hover {
    background: var(--primary);
    color: #fff;
  }
  
section{
    width:90%;
    margin:20px auto;
    display: flex;
    align-items: center;
}
#carrousel {
    min-height: 20vh;
}
#carrousel img {
    max-height: 400px;
    object-fit: cover;
}
#showcase {
    min-height: 45vh;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
#showcase>* {
    min-width: 300px;
    max-width: 30%;
    height: 600px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
article h3 {
    font-size: 1.6rem;
    font-weight: bold;
}
#showcase>article img{
    width:100%;
    height: 250px;
    object-fit: cover;
}
.centreArt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.article-small{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 190px;
}
.article-small h3 {
    font-size: 1.2rem;
    font-weight: bold;
}
.article-small img {
width:100%;
height: 180px;
object-fit: cover;
}
.article-small>*{
    width: 50%;
}
.article-small>div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#videos {
    min-height: 20vh;
    justify-content: space-around;
    flex-wrap: wrap;
}
#videos>* {
    margin:20px;
    width: 300px;
}
footer {
    min-height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: var(--secondary);
    color: var(--gray-hint);
}
footer>nav {
    display: flex;
}
footer a{
    text-decoration: none;
    margin:10px;
    color: var(--gray-hint);
}
footer a:hover,footer a:active{
    color: var(--gray-light);
    text-decoration: none;
}

@media screen and (max-width:700px) {
    footer, section, header, header>nav {
      flex-direction: column;
    }
  
    
  }